
MediatekGest_Documentaire/Mediatek86gestion/GlobalSuppressions.cs
MediatekGest_Documentaire/Mediatek86gestion/.editorconfig
*.ruleset
*.ruleset
MediatekGest_Documentaire/Mediatek86gestion/.sonarlint/mediatek86_documentairecsharp.ruleset
